<!-- Log In Modal -->
<div
	class="modal fade"
	id="login"
	data-backdrop="static"
	data-keyboard="false"
	tabindex="-1"
	role="dialog"
	aria-labelledby="staticBackdropLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Log In</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="login" method="POST">
				{% csrf_token %}
				<div class="modal-body">
					<div class="form-group">
						<label>Username</label>
						<input
							name="username"
							type="text"
							class="form-control"
							placeholder="Username"
							required
						/>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input
							name="password"
							type="password"
							class="form-control"
							placeholder="Password"
							required
						/>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
					<button type="submit" class="btn btn-primary">Log In</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Register Modal -->
<div
	class="modal fade"
	id="register"
	data-backdrop="static"
	data-keyboard="false"
	tabindex="-1"
	role="dialog"
	aria-labelledby="staticBackdropLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Register</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="register" method="POST">
				{% csrf_token %}
				<div class="modal-body">
					<div class="form-group">
						<label>Username</label>
						<input
							name="username"
							type="text"
							class="form-control"
							placeholder="Username"
							required
						/>
					</div>
					<div class="form-group">
						<label>Password</label>
						<input
							name="password"
							type="password"
							class="form-control"
							placeholder="Password"
							required
						/>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input
							name="email"
							type="email"
							class="form-control"
							placeholder="email"
							required
						/>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</form>
		</div>
	</div>
</div>
